<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <title>umeraziz</title>
</head>

<body>
  <header class="header">
    <nav class="nav bg-grid">
      <div class="n_toggle" id="n-toggle">
        <i class='bx bx-menu'></i>
      </div>
      <div>
        <a href="#" class="nav-logo">umeraziz</a>
      </div>
      <div class="n_menu" id="n-menu">
        <div class="n_close" id="n-close">
          <i class="bx bx-x"></i>
        </div>
        <ul class="n_list">
          <li class="n_item"><a href="#home" class="n_link active">Home</a></li>
          <li class="n_item"><a href="#about" class="n_link">About</a></li>
          <li class="n_item"><a href="#skills" class="n_link">Skills</a></li>
          <li class="n_item"><a href="#services" class="n_link">Services</a></li>
          <li class="n_item"><a href="#works" class="n_link">Works</a></li>
          <li class="n_item"><a href="#contact" class="n_link">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
<main class="main">
<section class="home" id="Home">
<div class="H_container bg-grid">
  <div class="H_data">
    <div class="H_img">
      <img src="img/2.jpg" alt="Profile pic">
    </div>
   <h1 class="H_title">Umer Aziz</h1>
   <span class="H_Pro">Full Stck Developer</span>
<div class="H_social">
  <a href="#" class="H_Social-Link"><i class='bx bxl-linkedin' ></i></a>
  <a href="#" class="H_Social-Link"><i class='bx bxl-github' ></i></a>
  <a href="#" class="H_Social-Link"><i class='bx bxl-facebook' ></i></a>
  <a href="#" class="H_Social-Link"><i class='bx bxl-instagram' ></i></a>
</div>
<a download="img/1.jpg" href="#" class="button H_button">Download Resume</a>
  </div>
</div>
</section>
</main>





<script src="js/main.js"></script>
</body>

</html>