<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>umeraziz | Web developer | mirpur ajk | must university</title>
  <meta name="description" content="Hi, I'm a student of Software engineering , web & android  developer, Designer, passionate about creating and developing new things . live in Mirpur azad kashmir Pakistan  ">
  <meta name="keywords" content=" umer aziz , umer aziz web developer,umer aziz  mirpur azad kashmir(ajk),software engineer,Must University Mirpur azad kashmir,Ajk, Mirpur azad kashmir">
  <meta name="author" content="Umer Aziz">
  <link rel="canonical" href="https://umeraziz.engineer/">
  <link rel="shortcut icon" href="js/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QX44PD6P0Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QX44PD6P0Y');
</script>
</head>

<body>
  {{>navbar}}

  <main class="main">
{{!-- section themes  --}}

{{>themes}}

    {{!-- section home --}}
{{>home}}
    {{!-- section about --}}
    {{>about}}

    {{!-- section skills --}}

    {{>skills}}

    {{!-- section education --}}

    {{>education}}

    {{!-- Services --}}
    {{>services}}

    {{!-- Project in mind --}}
    {{>project}}

    {{!-- section contact me --}}


    {{>contact}}
  </main>

  {{!-- footer --}}

 {{>footer}}




  <script src="js/main.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/sun.js"></script>



</body>

</html>
