<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <title>umeraziz</title>
</head>

<body>
  {{>navbar}}

  <main class="main">

    {{!-- section home --}}
{{>home}}
    {{!-- section about --}}
    {{>about}}

    {{!-- section skills --}}

    {{>skills}}

    {{!-- section education --}}

    {{>education}}

    {{!-- Services --}}
    {{>services}}

    {{!-- Project in mind --}}
    {{>project}}

    {{!-- section contact me --}}


    {{>contact}}
  </main>

  {{!-- footer --}}

 {{>footer}}




  <script src="js/main.js"></script>



</body>

</html>