<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="I'm a student of Software engineering and web developer, Designer, passionate about creating and developing web interfaces . live in Mirpur azad kashmir Pakistan  ">
  <meta name="keywords" content=" umer aziz , umer aziz web developer,umer aziz  mirpur azad kashmir(ajk),software engineer,Must University Mirpur azad kashmir,Ajk, Mirpur azad kashmir">
  <meta name="author" content="Umer Aziz">
  <link rel="canonical" href="https://umeraziz.me/">

  <title>umeraziz | Web developer | mirpur ajk | must university</title>
  <meta name="description" content="umeraziz,umer aziz mirpur, umer aziz linkdin,web developer, designer & Student of software engineering at Mirpur university of and Science and technology">
  <meta name="keywords" content="umeraziz, umer aziz ,umer aziz linkedin,umar aziz khan,umer bin abdul aziz,umar abdul aziz,omer aziz linkdin,omer aziz facebook.omer aziz istagram.
umar bin aziz ,umer aziz web developer,umeraziz lives in mirpur ajk,software engineer,web designer,Must University,Mirpur azad kashmir ,Ajk, Freelancer.">
  <meta name="author" content="umer aziz">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="js/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <title>umer aziz</title>
  
</head>

<body>
  {{>navbar}}

  <main class="main">
{{!-- section themes  --}}

{{>themes}}

    {{!-- section home --}}
{{>home}}
    {{!-- section about --}}
    {{>about}}

    {{!-- section skills --}}

    {{>skills}}

    {{!-- section education --}}

    {{>education}}

    {{!-- Services --}}
    {{>services}}

    {{!-- Project in mind --}}
    {{>project}}

    {{!-- section contact me --}}


    {{>contact}}
  </main>

  {{!-- footer --}}

 {{>footer}}




  <script src="js/main.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/sun.js"></script>



</body>

</html>
