<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="umeraziz,web developer, designer & Student of software engineering at Mirpur university of and Science and technology">
  <meta name="keywords" content="umeraziz, umer aziz , umer aziz web developer,umeraziz lives in mirpur ajk,software engineer,web designer,Must University.Mirpur azad kashmir,Ajk, Freelancer.">
  <meta name="author" content="umeraziz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>umeraziz</title>
</head>

<body>
  {{>navbar}}

  <main class="main">
{{!-- section themes  --}}

{{>themes}}

    {{!-- section home --}}
{{>home}}
    {{!-- section about --}}
    {{>about}}

    {{!-- section skills --}}

    {{>skills}}

    {{!-- section education --}}

    {{>education}}

    {{!-- Services --}}
    {{>services}}

    {{!-- Project in mind --}}
    {{>project}}

    {{!-- section contact me --}}


    {{>contact}}
  </main>

  {{!-- footer --}}

 {{>footer}}




  <script src="js/main.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/sun.js"></script>



</body>

</html>