 <section class="about section" id="about">
      <span class="section-subtitle">My intro</span>
      <h2 class="section-title">About Me</h2>
      <div class="about_container bg-grid">
        <div class="about_data">
          <p class="about_description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit error sed, ullam cupiditate ex nihil doloribus
            sint nobis accusantium laborum, nesciunt expedita voluptas quibusdam similique veritatis quae, iusto atque
            debitis.
          </p>
          <img src="img/3.jpg" alt="About pic" class="about_img">
        </div>

        <div>
          <div class="about_info">
            <h3 class="about_info_title">
              Information
            </h3>

            <div class="about_info-data">
              <i class="bx bx-user info_icon"></i>
              <span>Umer Aziz</span>
            </div>

            <div class="about_info-data">
              <i class="bx bx-phone info_icon"></i>
              <span>+923089752092</span>
            </div>

            <div class="about_info-data">
              <i class="bx bx-envelope info_icon"></i>
              <span>umeraziz682@gmail.com</span>
            </div>
          </div>
          <div class="about_info">
            <h3 class="about_info_title">
              Experience and support
            </h3>

            <div class="about_info-data">
              <i class="bx bx-medal info_icon"></i>
              <div>
                <span class="about_info_subtitle">1 year Freelancer</span>
                <span class="about_info_subtitle_small">Experience</span>
              </div>
            </div>

            <div class="about_info-data">
              <i class="bx bx-briefcase info_icon"></i>
              <div>
                <span class="about_info_subtitle">20+ Projects</span>
                <span class="about_info_subtitle_small">Completed</span>
              </div>
            </div>

            <div class="about_info-data">
              <i class="bx bx-support info_icon"></i>
              <div>
                <span class="about_info_subtitle">Support</span>
                <span class="about_info_subtitle_small">Online 24/7</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>