<section class="services section" id="services">
      <span class="section-subtitle">What I Offer</span>
      <h2 class="section-title">My Services</h2>
      <div class="services_container bg-grid">

        <div class="services_content">
          <i class="bx bx-code services_icon"></i>
          <h3 class="services_title">Web development</h3>
          <p class="services_description">This service that I offer is of high quality, and above all experience that I
            have in the labor field for long time</p>
        </div>

        <div class="services_content">
          <i class="bx bx-pen services_icon"></i>
          <h3 class="services_title">Logo Design</h3>
          <p class="services_description">This service that I offer is of high quality, and above all experience that I
            have in the labor field for long time</p>
        </div>

        <div class="services_content">
          <i class="bx bxl-figma services_icon"></i>
          <h3 class="services_title">Graphic Design</h3>
          <p class="services_description">This service that I offer is of high quality, and above all experience that I
            have in the labor field for long time</p>
        </div>

        <div class="services_content">
          <i class="bx bx-brush services_icon"></i>
          <h3 class="services_title">UI/UX</h3>
          <p class="services_description">This service that I offer is of high quality, and above all experience that I
            have in the labor field for long time</p>
        </div>

        <div class="services_content">
          <i class="bx bx-server services_icon"></i>
          <h3 class="services_title">Backend development</h3>
          <p class="services_description">This service that I offer is of high quality, and above all experience that I
            have in the labor field for long time</p>
        </div>

        <div class="services_content">
          <i class="bx bx-mobile services_icon"></i>
          <h3 class="services_title">Interface Mobile</h3>
          <p class="services_description">This service that I offer is of high quality, and above all experience that I
            have in the labor field for long time</p>
        </div>

      </div>
    </section>