<section id="themes">
  <div class="themes_div">
   <p class="themes_btn"><i class="fa fa-gear fa-2x fa-spin"></i></p>        
    <select  id="theme_switcher">
        <option value="">Theme</option>
        <option value="theme_light">Light</option>
        <option value="theme_dark">Dark</option>
    </select>
  </div>
</section>