@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* variable of css */
:root {
  --head-height: 3rem;
  --nav-width: 324px;

  /* === font-weight ===*/
  --f-medium: 500;
  --f-s-bold: 600;
  --f-bold: 700;

  /* === Colors ==== */
  --back-Color: #202124;
  --f-color: #cc4b2c;
  --f-color-dark: #662616;
  --f-color-darken: #290f09;
  --t-color: #54423d;
  --f-color-light: #eae7e6;
  --f-color-lighten: #fffafa;

  /* === font === */
  --b-font: "Poppins", sans-serif;
  --h1-f-size: 1.5rem;
  --h2-f-size: 1.25rem;
  --h3-f-size: 1rem;
  --normal-f-size: 0.94rem;
  --small-f-size: 0.815rem;
  --smaller-f-size: 0.8rem;

  /* === margins === */
  --mb-1: 0.6rem;
  --mb-2: 1rem;
  --mb-3: 1.6rem;
  --mb-4: 2.1rem;
  --mb-5: 2.6rem;

  /* === z-index === */
  --z-fix: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --h1-f-size: 2.5rem;
    --h2-f-size: 1.5rem;
    --h3-f-size: 1.3rem;
    --normal-f-size: 1rem;
    --small-f-size: 0.87rem;
    --smaller-f-size: 0.814rem;
  }
}

/* === Base === */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: var(--head-height) 0 0 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--b-font);
  box-sizing: border-box;
  font-size: var(--normal-f-size);
  font-weight: var(--f-medium);
  background: var(--back-Color);
  color: var(--f-color-light);
  line-height: 1.6;
  
}
h1,
h2,
h3,
p {
  margin: 0;
}
h3 {
  font-weight: var(--f-s-bold);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--f-color-light);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* === css === */
.section {
  padding: 4rem 0 2rem;
}
.section-title {
  font-size: var(--h1-f-size);
  color: var(--f-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}
.section-subtitle {
  color: var(--f-color-dark);
  text-align: center;
  display: block;
  font-size: var(--small-f-size);
  font-weight: var(--f-bold);
  margin-bottom: .25rem;
}
/*  === Layout menu ===*/
.bg-grid{
  max-width: 1024px;
  display:grid ;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:var(--z-fix) ;
  background:var(--back-Color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
/* === navbar === */
.nav{
  height: var(--head-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.n_menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color:var(--f-color) ;
  opacity: 0.9;
  transition: .5s;

}
.n_close{
  position:absolute ;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--f-color-dark);
  cursor: pointer;
}
.n_item{
  margin-bottom: var(--mb-4);
}
.n_link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--f-color-lighten);
  font-weight: var(--f-bold);
  transition: .3s;
}
.n_link:hover{
  color: var(--t-color);
}
.n_toggle{
  color: var(--f-color);
  font-size: 1.3rem;
  cursor: pointer;
}
.nav-logo{
  color: var(--f-color);

}

/* = show menu = */
.show{
  left: 0;
}
.active{
  color: var(--t-color);
}

/*  === home === */
.H_container{
  height:calc(100vh - var(--head-height)) ;
  align-items: center;
}
.H_data{
display:flex ;
flex-direction: column;
align-items: center;
height: max-content;
text-align: center;
}
.H_img{
  width: 160px;
  height: 160px;
  background-color: var(--f-color);
  border-radius:50% ;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}
.H_img img{
  width: 160px;
}
.H_title{
  font-size: var(--h1-f-size);
  color: var(--f-color);
  font-weight: var(--f-s-bold);
}
.H_Pro{
  font-size: var(--small-f-size);
  color: var(--f-color-light);
  margin-bottom: var(--mb-5);
}

.H_social{
  margin-bottom: 5rem;
}
.H_Social-Link{
  display: inline-flex;
  background-color: var(--f-color);
  color: var(--f-color-lighten);
  font-size: 1.2rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}
.H_Social-Link:hover{
  background-color: var(--f-color-dark);
  transform: scale(1.1);
}

.button{
  display: inline-block;
  background-color:var(--f-color) ;
  color: var(--f-color-lighten);
  font-weight: var(--f-s-bold);
  padding: .70rem 1.2rem ;
  border-radius: .5rem;
  transition: .3s;
}
.button:hover{
  background-color: var(--f-color-dark);
  transform: scale(1.05);
}

/* About section  */
.about_container{
  row-gap: 2rem;

}
.about_data{
  text-align: center;
}
.about_description{
  margin-bottom:var(--mb-4) ;
}
.about_img{
  width: 350px;
  height: 450px;
  border-radius:.5rem ;
  margin: 0 auto;
}

.about_info{
  margin-bottom: var(--mb-4);
}
.about_info_title{
  font-size: var(--h3-f-size);
  color: var(--f-color-dark);
  margin-bottom: var(--mb-2);
}

.about_info-data{
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
  margin-bottom: var(--mb-3);
}
.info_icon{
  font-size: 1.5rem;
  color: var(--f-color);
  margin-right: var(--mb-4) ;
}
.about_info_subtitle{
  display: block;
  font-weight: var(--f-s-bold);
}
.about_info_subtitle_small{
  font-size:var(--small-f-size) ;
}






